body { 
  font-family: Arial, sans-serif; 
  background: #f9f9f9; 
  height: 100vh;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  margin: 0;
  background: 
    linear-gradient(rgba(237, 202, 169, 0.7), rgba(237, 202, 169, 0.8)), 
    url("assets/images/profile-page.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* keeps image fixed on scroll */
  transition: margin-left 0.3s ease;
}
